<nav class="navbar">
    <div class="logo">Mi Tienda</div>
    <div class="menu-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav-links">
      <li><a routerLink="products" >Inicio</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link">Contactanos</a></li>
      <li><a href="https://www.linkedin.com/in/faustina-retamar-43ab861a6/" target="_blank" class="nav-link">Conoceme</a></li>
    </ul>
  </nav>
  